<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <style>
        body {
	        margin-left: 50px;
	        margin-right: 50px;
        }
        img {
	        width: 160px;
	        height: 160px;
        }
	     
    </style>
</head>
<body>
<div>
	@RenderBody()
</div>
    @RenderSection("Script",required:false)
<script src="js/Custom.js"></script>
</body>
</html>
