<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="allfile" xsi:type="File" FileName="E:\NetCore\MVC\StudentMvc\Logs\nlog-all-${shortdate}.log">

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile"/>
  </rules>
</nlog>