@*@using StudentMvc.Models*@
@model HomeDetailsViewModel
@{
	ViewBag.Title = "学生详情页";
}
<div class="row justify-content-center m-3">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header">
				<h1>@Model.Student.Name</h1>
			</div>
			<div class="card-body text-center">
				<img class="card-img-top imagesThumbnail" src="~/images/@Model.Student.PhotoPath"/>
				<h3>学生ID：@Model.Student.Id</h3>
				<h3>学生邮箱：@Model.Student.Email</h3>
				<h3>班级名称：@Model.Student.ClassName</h3>
			</div>
		</div>
		<div class="card-footer text-center">
			<a href="#" class="btn btn-primary">查看</a>
			<a href="#" class="btn btn-primary">编辑</a>
			<a asp-action="Delete" asp-route-id="@Model.Student.Id" class="btn btn-danger">删除</a>
		</div>
	</div>
</div>
